# Miscellaneous
*.class
*.bak
*.fvm
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.vscode/
.venv/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/failures
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/build/
coverage/
pubspec.lock
pubspec_overrides.yaml
devtools_options.yaml

# Custom
lib/generated_plugin_registrant.dart

**/example/android
**/example/ios
**/example/linux
**/example/macos
**/example/windows

.metadata

# FVM
.fvm/
.fvmrc

# LLM
.claude/
.cursor/
